.card {
    margin: auto;
    margin-top: 12vh;
    color: aqua;
    border-color: aqua;
    border-radius: 13px;
    padding: 12px;
    max-width: 62vh;
    background-color: transparent;
}


/* this is for instruction  */

.introjs-button {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: .5rem 1rem;
    border: 1px solid #bdbdbd;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font-size: 15px;
    color: #424242;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    background-color: #f4f4f4;
    border-radius: .2em;
    zoom: 1;
    background: transparent;
    color: whitesmoke;
    font-weight: 300;
}

.introjs-skipbutton {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: #616161;
    float: right;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
}

body {
    background-color: black;
    display: flex;
    margin: auto;
}